.container{
    background-color: rgb(252, 164, 255);
    height:350px;
    width:350px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
    margin:200px;
}
body{
    background-color: rgb(226, 248, 241);
}
button{
    padding:8px;
    background-color: rgb(157, 250, 221) ;
    border-radius: 25px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
    margin-top: 5px;
    height:35px;
    width:100px;
}
input{
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
    padding:10px;
}